.App {
  text-align: center;
}
 .nav0{
  background-color:cadetblue;
 }

    .bru1 {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      overflow: hidden;
      margin-top: -6px;
    }